.js-io {
  &._fadeup {
    transform: translate(0, 36px);
    transition: transform 1.2s cubic-bezier(0.32, 0.1, 0, 1),
      opacity 1.2s cubic-bezier(0.32, 0.1, 0, 1),
      background 1.2s cubic-bezier(0.32, 0.1, 0, 1);
    visibility: hidden; // 要素の領域は確保されたまま
    opacity: 0;
    filter: blur(10px);
  }

  &._fadeleft {
    transform: translateX(100px) scale(1.1);
    transition: all 0.5s ease-in-out;
    visibility: hidden; // 要素の領域は確保されたまま
    filter: blur(10px);
    opacity: 0;
  }

  &._blur {
    transform: scale(1.1);
    transition: all 1s ease-in-out;
    visibility: hidden; // 要素の領域は確保されたまま
    filter: blur(10px);
    opacity: 0;
  }

  &._fadein {
    transform: translateY(0);
    transition: all 1s ease-in-out;
    visibility: hidden; // 要素の領域は確保されたまま
    opacity: 0;
  }

  &._zoomup {
    transform: scale(0.5);
    transition: all 1s ease-in-out;
    visibility: hidden; // 要素の領域は確保されたまま
    opacity: 0;
  }

  // 要素が表示された際に透明度と可視性を変更
  &._show {
    transform: translate(0) scale(1);
    visibility: visible; // 表示された際に可視化
    filter: blur(0);
    opacity: 1;
  }

  //delay
  &._delay {
    //  opacity: 0;
    //  transition: transform 1.2s cubic-bezier(0.32, 0.1, 0, 1),opacity 1.2s cubic-bezier(0.32, 0.1, 0, 1);
    //  transform: translateY(36rem);
    &.--fadein {
      transform: translateY(0);
    }
    //エフェクト
    &._show {
      transform: translate(0) scale(1);
      visibility: visible; // 表示された際に可視化
      filter: blur(0);
      opacity: 1;

      &:nth-of-type(1) {
        transition-delay: 0s;
      }
      &:nth-of-type(2) {
        transition-delay: 0.12s;
      }
      &:nth-of-type(3) {
        transition-delay: 0.24s;
      }
      &:nth-of-type(4) {
        transition-delay: 0.36s;
      }
      &:nth-of-type(5) {
        transition-delay: 0.48s;
      }
      &:nth-of-type(6) {
        transition-delay: 0.6s;
      }
      &:nth-of-type(7) {
        transition-delay: 0.72s;
      }
      &:nth-of-type(8) {
        transition-delay: 0.84s;
      }
      &:nth-of-type(9) {
        transition-delay: 0.96s;
      }
      &:nth-of-type(10) {
        transition-delay: 1.08s;
      }
    }
  }
}

._blur {
  transform: scale(1.1);
  transition: all 1s ease-in-out;
  visibility: hidden; // 要素の領域は確保されたまま
  filter: blur(10px);
  opacity: 0;
  &._show {
    transform: translate(0) scale(1);
    visibility: visible; // 表示された際に可視化
    filter: blur(0);
    opacity: 1;
  }
}

.sec-fv-main-txt {
  ._fadeup {
    transform: translateY(36px);
    transition: transform 1.2s cubic-bezier(0.32, 0.1, 0, 1),
      opacity 1.2s cubic-bezier(0.32, 0.1, 0, 1),
      background 1.2s cubic-bezier(0.32, 0.1, 0, 1);
    visibility: hidden; // 要素の領域は確保されたまま
    opacity: 0;
    filter: blur(10px);
    &._show {
      transform: translate(0) scale(1);
      visibility: visible; // 表示された際に可視化
      filter: blur(0);
      opacity: 1;
    }
    &._delay {
      //  opacity: 0;
      //  transition: transform 1.2s cubic-bezier(0.32, 0.1, 0, 1),opacity 1.2s cubic-bezier(0.32, 0.1, 0, 1);
      //  transform: translateY(36rem);
      &.--fadein {
        transform: translateY(0);
      }
      //エフェクト
      &._show {
        transform: translate(0) scale(1);
        visibility: visible; // 表示された際に可視化
        filter: blur(0);
        opacity: 1;

        &:nth-of-type(1) {
          transition-delay: 0s;
        }
        &:nth-of-type(2) {
          transition-delay: 0.06s;
        }
        &:nth-of-type(3) {
          transition-delay: 0.12s;
        }
        &:nth-of-type(4) {
          transition-delay: 0.18s;
        }
        &:nth-of-type(5) {
          transition-delay: 0.24s;
        }
        &:nth-of-type(6) {
          transition-delay: 0.3s;
        }
        &:nth-of-type(7) {
          transition-delay: 0.36s;
        }
        &:nth-of-type(8) {
          transition-delay: 0.42s;
        }
        &:nth-of-type(9) {
          transition-delay: 0.48s;
        }
        &:nth-of-type(10) {
          transition-delay: 0.54s;
        }
        &:nth-of-type(11) {
          transition-delay: 0.6s;
        }
        &:nth-of-type(12) {
          transition-delay: 0.66s;
        }
        &:nth-of-type(13) {
          transition-delay: 0.72s;
        }
        &:nth-of-type(14) {
          transition-delay: 0.78s;
        }
        &:nth-of-type(15) {
          transition-delay: 0.84s;
        }
        &:nth-of-type(16) {
          transition-delay: 0.9s;
        }
        &:nth-of-type(17) {
          transition-delay: 0.96s;
        }
        &:nth-of-type(18) {
          transition-delay: 1.02s;
        }
        &:nth-of-type(19) {
          transition-delay: 1.08s;
        }
        &:nth-of-type(20) {
          transition-delay: 1.14s;
        }
        &:nth-of-type(21) {
          transition-delay: 1.2s;
        }
        &:nth-of-type(22) {
          transition-delay: 1.26s;
        }
        &:nth-of-type(23) {
          transition-delay: 1.32s;
        }
      }
    }
  }
}
