@charset "utf-8";

//base
@import "base/config.scss";
@import "base/common.scss";
@import "base/typo.scss";
@import "base/animation.scss";
@import "base/loading.scss";

//core
@import "core/header.scss";
@import "core/footer.scss";

//pages
@import "pages/index.scss";
@import "pages/about.scss";
@import "pages/course.scss";
