.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  transition: transform 0.8s ease-in-out;

  &-container {
    height: 96px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--g-color-white);
    // box-shadow: 0 4px 10px rgba($color: #000, $alpha: 0.25);
  }
  &-logo {
    img {
      width: 194px;
    }
  }
  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    ul {
      display: flex;
      align-items: center;
      justify-content: right;
      li {
        margin-left: 24px;
        a {
          font-weight: bold;
          color: var(--g-color-black);
          font-family: "Noto Sans JP", sans-serif;
          font-size: 16px;
          letter-spacing: 0.04em;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 0;
            transition: all 0.3s ease-in-out;
            background: var(--g-color-black);
            bottom: 0;
            right: 0;
            left: auto;
            height: 1px;
          }
          &:hover {
            &::after {
              width: 100%;
              left: 0;
              right: auto;
            }
          }
          img {
            width: 30px;
          }
        }
        &.social-link {
          margin-left: 25px;
          a {
            &::after {
              display: none;
            }
          }
        }
      }
    }
    .link-wrap {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
    }
    .wrap-btn {
      padding: 12px 24px;
      border-radius: 4px;
      display: block;
      font-weight: bold;
      font-family: "Noto Sans JP", sans-serif;
      font-size: 16px;
      letter-spacing: 0.04em;
      position: relative;
      &.full {
        background-color: #ff6e01;
        border: 2px solid #ff6e01;
        color: #fafafa;
        transition: all 0.3s;
        &:hover {
          background-color: #fff;
          color: #ff6e01;
        }
      }
      &.blank {
        background-color: #fafafa;
        border: 2px solid #ff6e01;
        color: #ff6e01;
        transition: all 0.3s;
        &:hover {
          background-color: #ff6e01;
          color: #fafafa;
        }
      }
    }
  }
}
