#about {
  margin-top: 96px;
  overflow-x: hidden;
  .fv {
    background-image: url(../img/img-about-fv.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;

    .container {
      padding-top: 80px;
      padding-bottom: 80px;
      @include sp {
        padding-top: 64px;
        padding-bottom: 64px;
      }
    }
    .fv-txt {
      padding-left: 40px;
      border-left: 2px solid white;
      @include sp {
        padding-left: 24px;
      }
      p {
        font-size: 20px;
        font-weight: 700;
        color: #fafafa;
        text-shadow: 0px 0px 8px #2e2c2a0d;

        @include sp {
          font-size: 16px;
        }
      }
      h2 {
        font-size: 61px;
        font-weight: 700;
        color: #fafafa;
        text-shadow: 0px 0px 8px #2e2c2a0d;
        line-height: 89px;
        @include sp {
          font-size: 36px;
          line-height: 48px;
        }
      }
    }
  }

  .p-about {
    padding-top: 104px;
    padding-bottom: 104px;
    background-color: #fafafa;
    @include sp {
      padding-top: 48px;
      padding-bottom: 48px;
    }
    .container {
      .about-ttl {
        font-size: 39px;
        font-weight: 700;
        color: #333333;
        @include sp {
          font-size: 25px;
        }
      }
      figure {
        margin-top: 40px;
        width: 100%;
        @include sp {
          margin-top: 24px;
        }
      }
    }
  }

  .p-vision {
    padding-bottom: 104px;
    background-color: #fafafa;
    @include sp {
      padding-bottom: 64px;
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      @include sp {
        flex-direction: column;
      }
      .vision-main {
        max-width: 640px;
        .vision-ttl {
          font-size: 31px;
          font-weight: 700;
          color: #333333;
          @include sp {
            font-size: 19px;
          }
          span {
            font-weight: 700;
            color: #ff6e01;
          }
        }
        .vision-ctn {
          font-size: 16px;
          font-weight: 500;
          color: #333333;
          padding-top: 40px;
          @include sp {
            padding-top: 24px;
          }
        }
      }
      .figure {
        max-width: 448px;
      }
    }
  }

  .p-feature {
    padding-top: 164px;
    padding-bottom: 204px;
    background-image: url(../img/bg-feature.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #fafafa;
    @include sp {
      background-size: cover;
      margin-top: -136px;
      position: relative;
      z-index: -1;
      padding-top: 230px;
      padding-bottom: 80px;
      padding-right: 16px;
      padding-left: 16px;
    }
    .sec-ttl {
      margin: auto;
      width: max-content;
      .ttl-en {
        color: white;

        @include sp {
          .ttl-absolute {
            transform: translateX(-47px);
          }
        }
      }
      .ttl-jp {
        color: #fafafa;
        text-align: center;
      }
    }
    .feature-items {
      padding-top: 64px;
      @include sp {
        padding-top: 36px;
      }
      .feature-item {
        max-width: 1280px;
        width: 100%;
        padding: 64px;
        background-color: #5f5f5f;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        @include sp {
          padding: 24px;
          flex-direction: column;
          gap: 24px;
        }
        &:first-child {
          padding-left: 160px;
          margin-bottom: 64px;
          border-radius: 0 16px 16px 0;
          @include sp {
            padding-left: 16px;
            margin-bottom: 24px;
            border-radius: 16px;
          }
        }
        &:last-child {
          padding-left: 160px;
          margin-top: 64px;
          border-radius: 0 16px 16px 0;
          @include sp {
            padding-left: 16px;
            margin-top: 24px;
            border-radius: 16px;
          }
        }
        &:nth-child(2) {
          padding-right: 160px;
          margin-right: 0;
          margin-left: auto;
          border-radius: 16px 0 0 16px;
          @include sp {
            padding-right: 16px;
            border-radius: 16px;
            flex-direction: column-reverse;
          }
        }
        .item-img {
          max-width: 288px;
          width: 100%;
          @include sp {
            width: 80%;
            margin: auto;
          }
        }
        .item-main {
          .badge {
            padding: 4px 10px;
            border-radius: 4px;
            background-color: #ff6e01;
            color: #fafafa;
            font-size: 13px;
            font-weight: 700;
            width: max-content;
            span {
              font-size: 20px;
            }
          }
          .item-ttl {
            font-size: 31px;
            font-weight: 700;
            color: #fafafa;
            padding-top: 24px;
            @include sp {
              font-size: 25px;
              padding-top: 16px;
            }
          }
          .item-ctn {
            font-size: 20px;
            font-weight: 500;
            color: #fafafa;
            padding-top: 16px;
            @include sp {
              font-size: 16px;
            }
          }
          .item-lists {
            padding-top: 40px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 4px;
            flex-direction: column;
            @include sp {
              padding-top: 24px;
            }
            .item-list {
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
              gap: 4px;
              font-size: 16px;
              font-weight: 500;
              color: #fafafa;
            }
          }
        }
      }
    }
  }

  .p-msg {
    padding-top: 104px;
    padding-bottom: 104px;
    background-color: #fafafa;
    @include sp {
      padding-top: 64px;
      padding-bottom: 64px;
    }
    .sec-ttl {
      width: max-content;
      margin: auto;
      .ttl-jp {
        text-align: center;
      }
    }
    .msg-main {
      padding-top: 64px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include sp {
        flex-direction: column;
        padding-top: 36px;
        gap: 24px;
      }
      figure {
        max-width: 338px;
      }
      .msg-ctn {
        max-width: 736px;
      }
      .msg-ttl {
        font-size: 25px;
        font-weight: 700;
        color: #333333;
        line-height: 36px;
        @include sp {
          font-size: 20px;
          line-height: 25px;
        }
      }
      .info {
        padding-top: 32px;
        font-size: 16px;
        font-weight: 500;
        color: #333333;
        line-height: 20px;
        @include sp {
          padding-top: 24px;
        }
      }
      .name {
        padding-top: 16px;
        width: max-content;
        margin-right: 0;
        margin-left: auto;
        .position {
          font-size: 16px;
          font-weight: 500;
          color: #333333;
        }
        .oname {
          font-size: 20px;
          font-weight: 500;
          color: #333333;
          @include sp {
            font-size: 16px;
          }
        }
      }
    }
  }

  .p-consal {
    padding: 40px 16px;
    background-color: rgba(255, 110, 1, 0.15);
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 32px;
      padding: 40px 16px;
      border-radius: 16px;
      background-color: #fafafa;
      @include sp {
        gap: 16px;
        padding: 24px 16px;
      }
      .consal-ttl {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        @include sp {
          font-size: 16px;
        }
        span {
          color: #ff6e01;
        }
        .fz-25 {
          font-size: 25px;
          @include sp {
            font-size: 18px;
          }
        }
      }
      .contact-btn {
        padding: 24px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        background-color: #ff6e01;
        border-radius: 8px;
        flex-direction: column;
        width: 544px;
        transition: all 0.3s;
        @include sp {
          width: 100%;
          padding: 16px 8px;
        }

        &:hover {
          transform: translateY(5px);
        }
        .btn-ttl {
          font-size: 16px;
          font-weight: 700;
          color: #fafafa;
          text-align: center;
        }
        .btn-main {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-size: 25px;
          font-weight: 700;
          color: #fafafa;
          @include sp {
            font-size: 18px;
          }
        }
      }
    }
  }

  .p-result {
    padding-bottom: 104px;
    background-color: #fafafa;
    @include sp {
      padding-bottom: 64px;
    }
    .container {
      position: relative;
      .sec-ttl {
        margin: auto;
        width: max-content;
        .ttl-jp {
          text-align: center;
        }
      }
      .voice-main {
        padding-top: 64px;
        max-width: 768px;
        margin: auto;
        .voice-slider-container {
          .slick-list {
            overflow: visible;
          }
          .slick-slide {
            width: max-content;
            margin-right: 16px;
            margin-left: 16px;
            opacity: 0.5;
            transition: all 0.2s;
            &.slick-slide.slick-current.slick-active {
              opacity: 1;
            }
          }
          .voice-item {
            max-width: 736px;
            width: 90%;
            border-radius: 16px;
            padding: 40px;
            border: 2px solid #fe913f;
            margin: auto;
            @include sp {
              padding: 24px;
            }

            .item-head {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 24px;
              @include sp {
                flex-direction: column;
                gap: 16px;
              }
              .item-img {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                flex-direction: column;
                figure {
                  max-width: 100px;
                }
                p {
                  font-size: 16px;
                  font-weight: 700;
                  color: #333333;
                }
              }
              .item-ttl {
                h4 {
                  font-size: 16px;
                  font-weight: 700;
                  color: rgba(51, 51, 51, 0.5);
                }
                & > div {
                  padding-top: 8px;
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  @include sp {
                    flex-direction: column;
                    justify-content: center;
                    padding-top: 0;
                    svg {
                      transform: rotate(90deg);
                    }
                  }

                  h5 {
                    font-size: 20px;
                    font-weight: 700;
                    color: #333333;
                    @include sp {
                      font-size: 16px;
                    }
                    span {
                      color: #ff6e01;
                    }
                  }
                }
              }
            }
            .item-body {
              padding-top: 24px;
              font-size: 16px;
              font-weight: 500;
              color: #333333;
              line-height: 20px;
              @include sp {
                padding-top: 16px;
              }
            }
          }
        }
      }
      .slider-controll-btns {
        .voice-before-btn {
          position: absolute;
          width: 48px;
          height: 48px;
          border-radius: 50px;
          background-color: #ff6e01;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 50%;
          transition: all 0.3s;
          transform: translate(100%, 100%);
          left: 0;
          @include sp {
            width: 24px;
            height: 24px;
            transform: translate(100%, -100%);
            top: 60%;
            svg {
              max-width: 8px;
            }
          }
        }
        .voice-after-btn {
          position: absolute;
          width: 48px;
          height: 48px;
          border-radius: 50px;
          background-color: #ff6e01;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 50%;
          transform: translate(100%, 100%);
          right: 0;
          @include sp {
            width: 24px;
            height: 24px;
            transform: translate(-100%, -100%);
            z-index: 20;
            top: 60%;
            svg {
              max-width: 8px;
            }
          }
        }
      }
    }
  }

  .p-member {
    background-color: #fafafa;
    padding-bottom: 100px;
    @include sp {
      padding-bottom: 64px;
    }
    .container {
      position: relative;

      .sec-ttl {
        width: max-content;
        margin: auto;
        .ttl-jp {
          text-align: center;
        }
      }
      .ttl-ctn {
        text-align: center;
        padding-top: 64px;
        max-width: 928px;
        font-size: 16px;
        font-weight: 500;
        margin: auto;
        @include sp {
          padding-top: 36px;
        }
      }
      .member-main {
        padding-top: 131px;
        position: relative;
        z-index: 10;
        @include sp {
          padding-top: 48px;
        }

        .member-slider-container {
          transform: translateX(100px);
          @include sp {
            transform: unset;
          }
          .slick-slide {
            padding-right: 16px;
            padding-left: 16px;
            @include sp {
              padding-right: 36px;
              padding-left: 36px;
            }
          }
          .member-slider-item {
            position: relative;
            z-index: 10;
            figure {
              max-width: 256px;
              @include sp {
                max-width: unset;
              }
            }
            .name {
              font-size: 20px;
              font-weight: 700;
              color: #333333;
              padding-top: 16px;
              @include sp {
                font-size: 16px;
                font-weight: 500;
              }
            }
          }
        }
        .slider-controll-btns {
          display: flex;
          align-items: center;
          justify-content: end;
          padding-top: 40px;
          gap: 32px;
          padding-right: 260px;
          @include sp {
            padding-top: 36px;
            gap: 24px;
            padding-right: 0;
            justify-content: start;
          }
          .member-before-btn {
            width: 48px;
            height: 48px;
            border-radius: 50px;
            background-color: #fafafa;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 0;
            top: 50%;
            transition: all 0.3s;
            border: 2px solid #ff6e01;
            // @include sp {
            //   width: 24px;
            //   height: 24px;
            //   svg {
            //     width: 8px;
            //   }
            // }
          }
          .member-after-btn {
            width: 48px;
            height: 48px;
            border-radius: 50px;
            background-color: #fafafa;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 0;
            top: 50%;
            border: 2px solid #ff6e01;
            // @include sp {
            //   width: 24px;
            //   height: 24px;
            //   svg {
            //     width: 8px;
            //   }
            // }
          }
        }
      }
      .result-loop-wrap {
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 195px;
        z-index: 1;
        .result-loop-area {
          display: flex;
          list-style: none;
          margin: 0;
          padding: 0;
          animation: loop-area 50s infinite linear;
          .result-loop-txt {
            font-size: 180px;
            font-weight: 700;
            color: rgba(255, 110, 1, 0.15);
            padding-left: 32px;
          }
        }
        @keyframes loop-area {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-100%);
          }
        }
      }
      .sec-more {
        position: absolute;
        bottom: 0;
        right: 0;
        @include sp {
          right: 16px;
        }
      }
    }
  }
}
